        h3 {
            text-align: left;
        }

        body {
            overflow: scroll;
        }

        #content {
            width: 1000px;
            margin: 5px auto 0px;
        }

        #menu {
            float: left;
            color: rgb(187, 126, 46);
            padding-left: 5cm;
            font-family: 'Cabin', sans-serif;
            position: relative;
            left: 150px;
            top: -1px;
        }

        #menu li {
            text-align: center;
            float: left;
            list-style: none;
            width: 190px;
            padding-right: 3px;
        }

        #menu a{
            font-weight: bold;
            font-size: 15px;
            text-decoration: rgb(0, 0, 0);
            display: block;
            color: rgb(71, 35, 2);
            background-color: rgba(238, 169, 99, 0.904);
            padding: 15px;
            border: 1px solid rgb(122, 64, 9)
        }
        #menu a:hover{
            background-color: rgb(255, 212, 155);
            font-size: 17px;
        }
        #menu a:active{
            background-color: bisque;
        }
        #paragraph{
            text-align: left;
            width: 1000px;
            margin-top: 20px;
            position: relative;
            right: -100px;
            top: -30px;
            font-size: 20px;
            font-weight: 200;
            font-variant: small-caps;
        }
        #name{
            text-align: left;
            width: 1000px;
            margin-top: 20px;
            position: relative;
            right: -100px;
            top: -30px;
            font-size: 25px;
            font-weight: 200;
            font-variant: small-caps;
        }
        #logo{
            position: relative;
            right: 20px;
            top: -70px;
            width: 100px;
        }
        #img{
            position: relative;
            right: -100px;
            top: -20px;
        }
        #blog
        {
            margin-left: 100px;
            font-size: 15px;
            font-weight: bold;
            font-variant: small-caps;
        }
        #blog2
        {
            margin-left: 500px;
            font-size: 30px;
            font-weight: 300;
            font-variant: small-caps;
            position: relative;
            right: -200px;
            top: -660px;
        }
        #a{
            color: black;
        }
        #contacts
        {
            background-color: rgba(80, 45, 5, 0.876);
            position: relative;
            width: 10000;
            height: 50px;
            color: whitesmoke;
            right: -100;
            top: -100px;
            font-size: 15px;
            font-weight: bold;
            font-variant: small-caps;
        }
        #table{
            width: 800px;
            font-size: 20px;
            font-variant: small-caps;
            border-spacing: 3px;
            position: relative;
            right: -100px;
        }
        #user{
            font-size: 20px;
            font-variant: small-caps;
            border-spacing: 3px;
            position: relative;
            right: -300px;
            bottom: 215px;
        }
        #userdata{
            font-size: 20px;
            font-variant: small-caps;
            border-spacing: 3px;
            position: relative;
            right: -300px;
            bottom: 200px;
        }
        #user2{
            font-size: 20px;
            font-variant: small-caps;
            border-spacing: 3px;
            position: relative;
            right: -300px;
            bottom: 360px;
        }
        #userdata2{
            font-size: 20px;
            font-variant: small-caps;
            border-spacing: 3px;
            position: relative;
            right: -300px;
            bottom: 350px;
        }
        #userI{
            font-size: 20px;
            font-variant: small-caps;
            border-spacing: 3px;
            position: relative;
            right: -300px;
            bottom: 170px;
        }
        #userdataI{
            font-size: 20px;
            font-variant: small-caps;
            border-spacing: 3px;
            position: relative;
            right: -300px;
            bottom: 170px;
        }
        hr{
            position: relative;
            right: -100px;
            width: 500px;
            height: 3px;
        }
        #grad {
            background: red;
            background: -webkit-radial-gradient(red, yellow, green); /* Safari 5.1 to 6.0 */
            background: -o-radial-gradient(red, yellow, green); /* For Opera 11.6 to 12.0 */
            background: -moz-radial-gradient(red, yellow, green); /* For Firefox 3.6 to 15 */
            background: radial-gradient(red, yellow, green); /* Standard syntax */
        }